{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "ot1k3p57qv7wi"
  },
  "info": {
    "title": "spectrAPI",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.opendesign.dev",
      "description": ""
    }
  ],
  "paths": {
    "/designs/{design_id}/artboards/{artboard_id}/content": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "design_id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "artboard_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "object",
                      "description": "Информция о версиях инструментов, файлы которых были импортированы. Обязательно должен быть параметр octopus-common и один из дополнительных праметров с версией интструмента. Все версии возвращаются в вивде сементаческой версионности",
                      "required": [
                        "octopus-common"
                      ],
                      "properties": {
                        "octopus-common": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия octopus\n* "
                        },
                        "octopus-sketch": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента sketch для адаптера octopus"
                        },
                        "octopus-figma": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента figma для адаптера octopus"
                        },
                        "octopus-ps": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента photoshop для адаптера octopus"
                        },
                        "octopus-xd": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента adobe xd для адаптера octopus"
                        },
                        "octopus-ai": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента adobe illustrator для адаптера octopus"
                        }
                      }
                    },
                    "timeStamp": {
                      "type": "integer",
                      "description": "Время создания документа octopus. Возвращается как в виде временной метки Unix",
                      "example": 1621946352725
                    },
                    "bounds": {
                      "type": "object",
                      "deprecated": true,
                      "description": "Границы документа. Верхняя (top) / левая (left) граница всегда равны 0, в объекте возвращаются значения только ширины (width) и высоты (height) документа.\n\n--Объект можно использовать только если анализировать параметры width и height, для сравнения с заданной шириной и высотой Рабочей области Спектра по умолчанию. В случае, если значение параметров width и height превышают заданные значения по умолчанию, то меняем ширину и высоту Рабочей области",
                      "required": [
                        "top",
                        "left",
                        "bottom",
                        "right",
                        "hight",
                        "weight"
                      ],
                      "properties": {
                        "top": {
                          "$ref": "#/components/schemas/top"
                        },
                        "left": {
                          "$ref": "#/components/schemas/left"
                        },
                        "bottom": {
                          "$ref": "#/components/schemas/bottom"
                        },
                        "right": {
                          "$ref": "#/components/schemas/right"
                        },
                        "hight": {
                          "$ref": "#/components/schemas/height"
                        },
                        "weight": {
                          "$ref": "#/components/schemas/weight"
                        }
                      }
                    }
                  },
                  "required": [
                    "version",
                    "bounds"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-designs-design_id-artboards-artboard_id-content",
        "description": "Получение информации о содержимом Рабочей области",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "design_id": {
                    "type": "string",
                    "description": "ИД импортированного файла"
                  },
                  "artboard_id": {
                    "type": "string",
                    "description": "ИД Рабочей области в импорированном файле"
                  }
                },
                "required": [
                  "design_id",
                  "artboard_id"
                ]
              }
            }
          },
          "description": ""
        },
        "parameters": []
      }
    }
  },
  "components": {
    "schemas": {
      "top": {
        "type": "number",
        "title": "top",
        "x-stoplight": {
          "id": "oet4m14nzd64s"
        },
        "description": "Верхняя граница (X)",
        "format": "float",
        "default": 0,
        "example": 9.99
      },
      "bottom": {
        "type": "number",
        "title": "bottom",
        "x-stoplight": {
          "id": "qw0kkrh4xmee4"
        },
        "format": "float",
        "default": 0,
        "example": 9.99,
        "description": "Нижняя граница (top + height)"
      },
      "left": {
        "type": "number",
        "title": "left",
        "x-stoplight": {
          "id": "8x2zew2xaoy94"
        },
        "description": "Левая граница (Y)",
        "format": "float",
        "default": 0,
        "example": 9.99
      },
      "right": {
        "type": "number",
        "title": "right",
        "x-stoplight": {
          "id": "h0rt1xbpxj7eb"
        },
        "description": "Првая граница (left + weight)",
        "format": "float",
        "default": 0,
        "example": 9.99
      },
      "height": {
        "type": "number",
        "title": "height",
        "x-stoplight": {
          "id": "dopvzf7ugk96t"
        },
        "description": "Высота",
        "format": "float",
        "default": 0,
        "example": 9.99
      },
      "weight": {
        "type": "number",
        "title": "weight",
        "x-stoplight": {
          "id": "g07n26xzl67ws"
        },
        "description": "Ширина",
        "format": "float",
        "default": 0,
        "example": 9.99
      }
    },
    "parameters": {}
  }
}