{
  "openapi": "3.0.0",
  "x-stoplight": {
    "id": "ot1k3p57qv7wi"
  },
  "info": {
    "title": "spectrAPI",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.opendesign.dev",
      "description": ""
    }
  ],
  "paths": {
    "/designs/{design_id}/artboards/{artboard_id}/content": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "design_id",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "artboard_id",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "object",
                      "description": "Информция о версиях инструментов, файлы которых были импортированы. Обязательно должен быть параметр octopus-common и один из дополнительных праметров с версией интструмента. Все версии возвращаются в вивде сементаческой версионности",
                      "properties": {
                        "octopus-common": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия octopus\n* "
                        },
                        "octopus-sketch": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента sketch для адаптера octopus"
                        },
                        "octopus-figma": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента figma для адаптера octopus"
                        },
                        "octopus-ps": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента photoshop для адаптера octopus"
                        },
                        "octopus-xd": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента adobe xd для адаптера octopus"
                        },
                        "octopus-ai": {
                          "type": "string",
                          "example": "1.2.3",
                          "description": "Версия инструмента adobe illustrator для адаптера octopus"
                        }
                      },
                      "required": [
                        "octopus-common"
                      ]
                    },
                    "timeStamp": {
                      "type": "integer",
                      "description": "Время создания документа octopus. Возвращается как в виде временной метки Unix",
                      "example": 1621946352725
                    },
                    "bounds": {
                      "type": "object",
                      "deprecated": true,
                      "description": "Границы фрейма. Верхняя (top) / левая (left) граница всегда равны 0, в объекте возвращаются значения только ширины (width) и высоты (height) документа.\n\n-- Не используем. Ширину и высоту возьмем из массива layers[ ] для объекта с слоем: \"<ИД фрейма>:background\"",
                      "properties": {
                        "top": {
                          "$ref": "#/components/schemas/top"
                        },
                        "left": {
                          "$ref": "#/components/schemas/left"
                        },
                        "bottom": {
                          "$ref": "#/components/schemas/bottom"
                        },
                        "right": {
                          "$ref": "#/components/schemas/right"
                        },
                        "hight": {
                          "$ref": "#/components/schemas/height"
                        },
                        "weight": {
                          "$ref": "#/components/schemas/weight"
                        }
                      },
                      "required": [
                        "top",
                        "left",
                        "bottom",
                        "right",
                        "hight",
                        "weight"
                      ]
                    },
                    "symbolID": {
                      "type": "string",
                      "description": "ИД фрейма в документе octopus. Возвращается если фрейм фигмы является компонентом\n\n-- Не используем",
                      "deprecated": true
                    },
                    "isSymbolMaster": {
                      "type": "boolean",
                      "description": "Флаг, являетсяя ли фрейм компонентом:\n* true - является компонентом (мастером);\n* false - не является\n\n-- Параметр возвращается вместе с параметром symbolID;\n-- Для всех фреймов (компонентов) фигмы параметр будет возвращаться только со значением true"
                    },
                    "frame": {
                      "type": "object",
                      "description": "Позиция фрейма на Рабочей области в фигма",
                      "properties": {
                        "x": {
                          "type": "number",
                          "description": "Горизонтальное положение Рабочей области (по оси X)",
                          "format": "float",
                          "default": 0,
                          "example": 9.99
                        },
                        "y": {
                          "type": "number",
                          "description": "Вертикальное положение Рабочей области (по оси Y)",
                          "format": "float",
                          "default": 0,
                          "example": 9.99
                        }
                      },
                      "required": [
                        "x",
                        "y"
                      ]
                    },
                    "backgroundColor": {
                      "$ref": "#/components/schemas/color"
                    },
                    "hasBackgroundColor": {
                      "type": "boolean",
                      "description": "Флаг указывающий, нужно ли применять цвет фона, полученный из объекта backgroundColor, к Рабочей области:\n* true - применить;\n* false - не применять\n\n-- Не используем",
                      "deprecated": true
                    },
                    "guides": {
                      "type": "object",
                      "description": "горизонтальные и вертикальные направляющие линейки Рабочей области\n\n-- Не возвращается для фигмы;\n-- Не используем. Будем использовать стандартную линейку с заданным шагом и размером по умолчанию: шаг 1 пиксель и размер по ширине и высоте от -131072 до 131072",
                      "deprecated": true,
                      "properties": {
                        "x": {
                          "type": "array",
                          "description": "Массив горизонтальных направляющих линейки. Может быть пустой",
                          "items": {
                            "type": "number"
                          }
                        },
                        "y": {
                          "type": "array",
                          "description": "Массив вертикальных направляющих линейки. Может быть пустой",
                          "items": {
                            "type": "number"
                          }
                        }
                      },
                      "required": [
                        "x",
                        "y"
                      ]
                    },
                    "includeBackgroundColorInInstance": {
                      "type": "number",
                      "deprecated": true,
                      "default": 0,
                      "enum": [
                        0,
                        1
                      ],
                      "description": "Использование цвета фона в экземпляра\n\n-- Не используем;\n-- Не возвращается для фигмы"
                    },
                    "exportables": {
                      "type": "array",
                      "description": "Массив дескрипторов экспорта. Каждая запись относится к слайсу или слою\n\n-- Не возвращается и не используется для фигмы",
                      "deprecated": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "LAYER",
                              "SLICE"
                            ],
                            "description": "Тип дескриптора"
                          },
                          "location": {
                            "type": "object",
                            "description": "Положение дескриптора экспорта. Для определения положения, в случае слайса использются значения парметров parent и index, в случае слоя только id",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "ИД слоя"
                              },
                              "parent": {
                                "type": "string",
                                "description": "ИД родительского слоя"
                              },
                              "index": {
                                "type": "number",
                                "description": "Индекс слоя в родительском массиве слоев"
                              }
                            }
                          },
                          "trimTransparentPixels": {
                            "type": "boolean",
                            "description": "Флаг, обозначающий, следует ли обрезать прозрачные пиксели при экспорте:\n* true - обрезать пиксели;\n* false - не обрезать"
                          },
                          "background": {
                            "type": "object",
                            "description": "Фон экспорта",
                            "properties": {
                              "value": {
                                "$ref": "#/components/schemas/color"
                              },
                              "enabled": {
                                "type": "boolean",
                                "description": "* true - если фон включен;\n* false - выключен"
                              }
                            }
                          },
                          "bounds": {
                            "type": "object",
                            "description": "Границы дескрипторов",
                            "properties": {
                              "top": {
                                "$ref": "#/components/schemas/top"
                              },
                              "left": {
                                "$ref": "#/components/schemas/left"
                              },
                              "bottom": {
                                "$ref": "#/components/schemas/bottom"
                              },
                              "right": {
                                "$ref": "#/components/schemas/right"
                              },
                              "height": {
                                "$ref": "#/components/schemas/height"
                              },
                              "weight": {
                                "$ref": "#/components/schemas/weight"
                              }
                            },
                            "required": [
                              "top",
                              "left",
                              "bottom",
                              "right",
                              "height",
                              "weight"
                            ]
                          },
                          "limitTo": {
                            "type": "string",
                            "description": "Что должно быть включено в экспорт:\n* ARTBOARD - вся Рабочая область;\n* SELF - сам объект",
                            "enum": [
                              "ARTBOARD",
                              "SELF"
                            ]
                          },
                          "formats": {
                            "type": "array",
                            "description": "Массив, описывающий форматы экспорта",
                            "items": {
                              "type": "object",
                              "properties": {
                                "naming": {
                                  "type": "object",
                                  "description": "Значение префикса / суффикса названия экспорта",
                                  "properties": {
                                    "scheme": {
                                      "type": "string",
                                      "description": "Тип наименования",
                                      "enum": [
                                        "PREFIX",
                                        "SUFFIX"
                                      ]
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "Значение перфикса или суффикса"
                                    }
                                  }
                                },
                                "format": {
                                  "type": "string",
                                  "description": "Формат экспорта",
                                  "enum": [
                                    "PNG",
                                    "JPG",
                                    "TIFF",
                                    "WEBP",
                                    "PDF",
                                    "EPS",
                                    "SVG"
                                  ]
                                },
                                "size": {
                                  "type": "object",
                                  "description": "Ограничение изменения размера",
                                  "properties": {
                                    "mode": {
                                      "type": "string",
                                      "enum": [
                                        "SCALE",
                                        "WIDTH",
                                        "HEIGHT"
                                      ],
                                      "description": "Тип изменения размера результата экспорта (масштабировать или изменять размер с фиксированной шириной или высотой)"
                                    },
                                    "value": {
                                      "type": "number",
                                      "description": "Значение ограничения"
                                    }
                                  }
                                }
                              },
                              "required": [
                                "format"
                              ]
                            }
                          }
                        },
                        "required": [
                          "type"
                        ]
                      }
                    },
                    "flow": {
                      "type": "object",
                      "description": "Взаимодействие между фреймами (создание прототипов). Для фигмы реализовано частично\n\n-- Пока не используем. Для 2-го этапа",
                      "deprecated": true,
                      "properties": {
                        "initial": {
                          "type": "boolean",
                          "description": "Флаг, является ли фрейм родительским фреймом для всего прототипа дизайна:\n* true - является;\n* false - нет\n\n-- Для фремов фигмы всегда приходит false"
                        },
                        "interactions": {
                          "type": "array",
                          "description": "Массив взаимодествий фреймов",
                          "items": {
                            "type": "object",
                            "properties": {
                              "destination": {
                                "type": "object",
                                "description": "Описание взаимодействия",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "id",
                                      "relative"
                                    ],
                                    "description": "Тип: ИД фрейма или значение направления"
                                  },
                                  "id": {
                                    "type": "string",
                                    "description": "ИД фрейма назначени"
                                  },
                                  "relativeValue": {
                                    "type": "string",
                                    "enum": [
                                      "back"
                                    ],
                                    "description": "Значение направления"
                                  }
                                }
                              },
                              "animation": {
                                "type": "object",
                                "description": "Десскриптор свойств анимации взаимодействия",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "description": "Тип анимации взимодествия",
                                    "enum": [
                                      "DISSOLVE",
                                      "MOVE_UP",
                                      "MOVE_DOWN",
                                      "MOVE_LEFT",
                                      "MOVE_RIGHT",
                                      "PUSH_UP",
                                      "PUSH_DOWN",
                                      "PUSH_LEFT",
                                      "PUSH_RIGHT",
                                      "SLIDE_UP",
                                      "SLIDE_DOWN",
                                      "SLIDE_LEFT",
                                      "SLIDE_RIGHT",
                                      "NONE"
                                    ]
                                  },
                                  "easing": {
                                    "type": "string",
                                    "enum": [
                                      "EASE_IN",
                                      "EASE_OUT",
                                      "EASE_IN_OUT",
                                      "NON"
                                    ],
                                    "description": "Тип плавной анимации"
                                  },
                                  "duration": {
                                    "type": "integer",
                                    "description": "Продолжительность анимации (количество миллисекунд)"
                                  },
                                  "delay": {
                                    "type": "integer",
                                    "description": "Время задержки перед анимацией (количество миллисекунд)"
                                  }
                                }
                              },
                              "bounds": {
                                "type": "object",
                                "description": "Границы области взаиможействия",
                                "required": [
                                  "top",
                                  "left",
                                  "weight",
                                  "height",
                                  "right",
                                  "bottom"
                                ],
                                "properties": {
                                  "top": {
                                    "$ref": ""
                                  },
                                  "left": {
                                    "$ref": "#/components/schemas/left"
                                  },
                                  "weight": {
                                    "$ref": "#/components/schemas/weight"
                                  },
                                  "height": {
                                    "$ref": "#/components/schemas/height"
                                  },
                                  "right": {
                                    "$ref": "#/components/schemas/right"
                                  },
                                  "bottom": {
                                    "$ref": "#/components/schemas/bottom"
                                  }
                                }
                              },
                              "preserveScroll": {
                                "type": "boolean",
                                "description": "Если true, то монтажная область должна сохранять текущее положение прокрутки. Иначе false"
                              },
                              "trigger": {
                                "type": "string",
                                "description": "Триггер (например, жест), который инициирует взаимодействие"
                              },
                              "ownerId": {
                                "type": "string",
                                "description": "ИД слоя, из которого происходит взаимодействие"
                              }
                            },
                            "required": [
                              "destination",
                              "animation",
                              "bounds"
                            ]
                          }
                        }
                      }
                    },
                    "smartLayout": {
                      "type": "string",
                      "deprecated": true,
                      "description": "Умная компоновка\n\n-- Не используем (используется только для Sketch);\n-- Не возвращается для figma",
                      "enum": [
                        "RIGHT_TO_LEFT",
                        "HORIZONTAL_CENTER",
                        "TOP_TO_BOTTOM",
                        "BOTTOM_TO_TOP",
                        "HORIZONTAL_CENTER",
                        "LEFT_TO_RIGHT"
                      ]
                    },
                    "name": {
                      "type": "string",
                      "description": "Наименование фрейма"
                    },
                    "id": {
                      "type": "string",
                      "description": "ИД фрейма"
                    },
                    "layoutGrid": {
                      "type": "array",
                      "description": "Компоновочная сетка",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "Тип сетки",
                            "enum": [
                              "grid",
                              "column",
                              "row"
                            ]
                          },
                          "size": {
                            "type": "number",
                            "description": "Для type = \"grid\", это расстояние между линиями сетки по горизонтали и вертикали.\nДля type = \"column\" / \"row\", это ширина линий сетки",
                            "format": "float",
                            "example": 9.99,
                            "default": 0
                          },
                          "thickEvery": {
                            "type": "number",
                            "description": "Толщина линий сетки, для type = \"grid\"\n\n-- Параметр возвращается, если type = \"grid\""
                          },
                          "color": {
                            "$ref": "#/components/schemas/color"
                          },
                          "enabled": {
                            "type": "boolean",
                            "description": "Флаг, отвечающий за видимость сетки:\n* true - сетку нужно показывать;\n* false - сетка должна быть скрыта"
                          },
                          "count": {
                            "type": "number",
                            "description": "Количество линий сетки, для type = \"column\" / \"row\"\n\n-- Параметр возвращается только для type = \"column\" / \"row\"\n-- Если в фигма установлено значение \"auto\", то в параметре возвращается \"0\""
                          },
                          "drawEveryLine": {
                            "type": "boolean",
                            "description": "Флаг, нужно отрисовывать все линии. Возвращается только для type = \"raw\"\n\n-- Не используем. Для фигмы всегда false",
                            "deprecated": true
                          },
                          "outerOutline": {
                            "type": "boolean",
                            "description": "Флаг, нужно отрисовывать внешние линии. Возвращается только для type = \"column\"\n\n-- Не используем. Для фигмы всегда false",
                            "deprecated": true
                          },
                          "bounds": {
                            "type": "object",
                            "description": "Границы сетки по отношению к фрейму. Объект возвращается только для type = \"column\" / \"raw\"\n\n-- Используя значения, полученные в параметрам объекта, можно расчитать отступ и расстояение между линиями сетки (как в фигме)",
                            "properties": {
                              "top": {
                                "$ref": "#/components/schemas/top"
                              },
                              "left": {
                                "$ref": "#/components/schemas/left"
                              },
                              "weight": {
                                "$ref": "#/components/schemas/weight"
                              },
                              "height": {
                                "$ref": "#/components/schemas/height"
                              },
                              "bottom": {
                                "$ref": "#/components/schemas/bottom"
                              },
                              "right": {
                                "$ref": "#/components/schemas/right"
                              }
                            },
                            "required": [
                              "top",
                              "left",
                              "weight",
                              "height",
                              "bottom",
                              "right"
                            ]
                          }
                        },
                        "required": [
                          "type",
                          "size",
                          "color",
                          "enabled"
                        ]
                      }
                    },
                    "layers": {
                      "type": "array",
                      "description": "Слои фрейма",
                      "items": {
                        "oneOf": [
                          {
                            "$ref": ""
                          }
                        ]
                      }
                    }
                  },
                  "required": [
                    "name",
                    "id",
                    "layers"
                  ]
                }
              }
            }
          }
        },
        "operationId": "get-designs-design_id-artboards-artboard_id-content",
        "description": "Получение информации о содержимом Рабочей области",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "design_id",
            "required": true,
            "description": "ИД импортированного файла"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "artboard_id",
            "required": true,
            "description": "ИД фрейма в импортированном файле"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "top": {
        "type": "number",
        "title": "top",
        "x-stoplight": {
          "id": "oet4m14nzd64s"
        },
        "description": "Верхняя граница (X)",
        "format": "float",
        "default": 0,
        "example": 9.99
      },
      "bottom": {
        "type": "number",
        "title": "bottom",
        "x-stoplight": {
          "id": "qw0kkrh4xmee4"
        },
        "format": "float",
        "default": 0,
        "example": 9.99,
        "description": "Нижняя граница (top + height)"
      },
      "left": {
        "type": "number",
        "title": "left",
        "x-stoplight": {
          "id": "8x2zew2xaoy94"
        },
        "description": "Левая граница (Y)",
        "format": "float",
        "default": 0,
        "example": 9.99
      },
      "right": {
        "type": "number",
        "title": "right",
        "x-stoplight": {
          "id": "h0rt1xbpxj7eb"
        },
        "description": "Првая граница (left + weight)",
        "format": "float",
        "default": 0,
        "example": 9.99
      },
      "height": {
        "type": "number",
        "title": "height",
        "x-stoplight": {
          "id": "dopvzf7ugk96t"
        },
        "description": "Высота",
        "format": "float",
        "default": 0,
        "example": 9.99
      },
      "weight": {
        "type": "number",
        "title": "weight",
        "x-stoplight": {
          "id": "g07n26xzl67ws"
        },
        "description": "Ширина",
        "format": "float",
        "default": 0,
        "example": 9.99
      },
      "color": {
        "title": "color",
        "x-stoplight": {
          "id": "ego30so2z2daw"
        },
        "type": "object",
        "description": "Цветовой дескриптор\n\n-- Полученные значения RGB необходимо преобразовать в режим цветового кодирования HEX.\nЗначение альфа канала в проценты (a * 100);\n-- Для фрейма в параметре backgroundColor будет всегда: \n{\n  \"r\": 0,\n  \"g\": 0,\n  \"b\": 0,\n  \"a\": 0\n}",
        "x-internal": false,
        "properties": {
          "r": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255,
            "description": "Цветовой канал красного цвета"
          },
          "g": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255,
            "description": "Цветовой канал зеленого цвета"
          },
          "b": {
            "type": "integer",
            "minimum": 0,
            "maximum": 255,
            "description": "Цветовой канал синего цвета"
          },
          "a": {
            "type": "number",
            "format": "float",
            "default": 1,
            "example": 0.99,
            "minimum": 0,
            "maximum": 1,
            "description": "Альфа канал\n\n--Для Спектра необходимо перевести полученное значение в %"
          }
        },
        "required": [
          "r",
          "g",
          "b",
          "a"
        ]
      },
      "layer": {
        "title": "layer",
        "x-stoplight": {
          "id": "vf3nbwzn5q7qh"
        },
        "type": "object",
        "description": "Общее описание слоя",
        "properties": {
          "id": {
            "type": "string",
            "description": "ИД слоя",
            "example": "3:3"
          },
          "name": {
            "type": "string",
            "description": "Наименование слоя"
          },
          "origin": {
            "type": "string",
            "description": "Инструмент, в котором был создан слой",
            "enum": [
              "sketch",
              "xd",
              "photoshop",
              "figma",
              "illustrator"
            ]
          },
          "visible": {
            "type": "boolean",
            "default": true,
            "description": "Флаг видимости слоя на Рабочей области:\n* true - слой виден (возвращается по умолчанию);\n* false - слой скрыт"
          },
          "bounds": {
            "type": "object",
            "description": "Границы слоя (без эффектов)",
            "properties": {
              "top": {
                "$ref": "#/components/schemas/top"
              },
              "left": {
                "$ref": "#/components/schemas/left"
              },
              "weight": {
                "$ref": "#/components/schemas/weight"
              },
              "height": {
                "$ref": "#/components/schemas/height"
              },
              "right": {
                "$ref": "#/components/schemas/right"
              },
              "bottom": {
                "$ref": "#/components/schemas/bottom"
              }
            },
            "required": [
              "top",
              "left",
              "weight",
              "height",
              "right",
              "bottom"
            ]
          },
          "shape": {
            "$ref": "#/components/schemas/shape"
          },
          "clipped": {
            "type": "boolean",
            "description": "Флаг, указывающий скрывается ли текущий слой другим слоем:\n* true: скрывается (при этом должен возвращатьсяпараметр maskedBy);\n* false: не скрывается"
          },
          "maskedBy": {
            "type": "string",
            "description": "ИД слоя, который является маской для текущего слоя"
          },
          "maskType": {
            "type": "string",
            "description": "Тип маски.\nДля figma возвращаются два из доступных значений:\n* alpha: если для маски в figma отключена настройка \"Использовать контур формы\";\n* figmaOutline: если для маски в figma включена настройка \"Использовать контур формы\"",
            "enum": [
              "alpha",
              "inverse-luminosity",
              "luminosity",
              "outline",
              "psd",
              "svg",
              "figmaOutline"
            ]
          },
          "bitmapMask": {
            "type": "object",
            "deprecated": true,
            "description": "Маска растрового изображения. Используется только для инструмента Photoshop\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
            "properties": {
              "bounds": {
                "type": "object",
                "description": "Границы растровой маски. Если отсутствует, вместо него используется значение layer.bitmap.",
                "properties": {
                  "top": {
                    "$ref": "#/components/schemas/top"
                  },
                  "left": {
                    "$ref": "#/components/schemas/left"
                  },
                  "weight": {
                    "$ref": "#/components/schemas/weight"
                  },
                  "height": {
                    "$ref": "#/components/schemas/height"
                  },
                  "right": {
                    "$ref": "#/components/schemas/right"
                  },
                  "bottom": {
                    "$ref": "#/components/schemas/bottom"
                  }
                },
                "required": [
                  "top",
                  "left",
                  "weight",
                  "height",
                  "right",
                  "bottom"
                ]
              },
              "filename": {
                "type": "string",
                "description": "Ссылка на URI файла растровой маски (URL или относительное имя файла)"
              },
              "enabled": {
                "type": "boolean",
                "description": "Флаг, указывающий будет ли приминена маска:\n* true: будет применена;\n* false: не применена"
              },
              "extendWithWhite": {
                "type": "boolean",
                "description": "Если значение \"true\", то растровое изображение маски должно быть изменено в соответствии с размером слоя, который оно маскирует, расширенная область должна быть заполнена сплошным белым цветом"
              }
            },
            "required": [
              "filename"
            ]
          },
          "clipBounds": {
            "type": "object",
            "description": "Ограничивающие границы, которые можно использовать вместо прямоугольной ограничивающей маски того же положения и размера\n\n-- Не используется;\n-- Не возвращается для инструмента figma",
            "deprecated": true,
            "properties": {
              "top": {
                "$ref": "#/components/schemas/top"
              },
              "left": {
                "$ref": "#/components/schemas/left"
              },
              "weight": {
                "$ref": "#/components/schemas/weight"
              },
              "right": {
                "$ref": "#/components/schemas/right"
              },
              "bottom": {
                "$ref": "#/components/schemas/bottom"
              },
              "height": {
                "$ref": "#/components/schemas/height"
              }
            },
            "required": [
              "top",
              "left",
              "weight",
              "right",
              "bottom",
              "height"
            ]
          },
          "opacity": {
            "type": "number",
            "format": "float",
            "default": 1,
            "minimum": 0,
            "maximum": 1,
            "description": "Уровень непрозрачности слоя: 1 - полностью непрозрачный, 0 - полностью прозрачный. Описывает значение альфа-канала (непрозрачности)"
          },
          "fillOpacity": {
            "type": "number",
            "format": "float",
            "deprecated": true,
            "default": 1,
            "minimum": 0,
            "maximum": 1,
            "description": "Уровень непрозрачности заливки слоя: 1 - полностью непрозрачный, 0 - полностью прозрачный. Описывает значение альфа-канала (непрозрачности)\n\n-- Не используется;\n-- Не возвращается для инструмента figma"
          },
          "blendMode": {
            "type": "string",
            "enum": [
              "BLEND_DIVIDE",
              "BLEND_SUBTRACTION",
              "COLOR",
              "COLOR_BURN",
              "COLOR_DODGE",
              "DARKEN",
              "DARKER_COLOR",
              "DIFFERENCE",
              "DISSOLVE",
              "EXCLUSION",
              "HARD_LIGHT",
              "HARD_MIX",
              "HUE",
              "LIGHTEN",
              "LIGHTER_COLOR",
              "LIGHTEN_BURN",
              "LIGHTEN_DODGE",
              "LIGHTEN_LIGHT",
              "LUMINOSITY",
              "MULTIPLY",
              "OVERLAY",
              "PASS_THROUGH",
              "PIN_LIGHT",
              "SATURATION",
              "SCREEN",
              "SOFT_LIGHT",
              "VIVID_LIGHT",
              "NORMAL"
            ],
            "description": "Режим наложения слоя"
          },
          "effects": {
            "type": "object",
            "description": "Дескриптор эффектов слоя",
            "properties": {
              "fills": {
                "type": "array",
                "description": "Слои заливки",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ИД заливки"
                    },
                    "color": {
                      "$ref": "#/components/schemas/color"
                    },
                    "gradient": {
                      "$ref": "#/components/schemas/effectAbstractGradient"
                    },
                    "pattern": {
                      "$ref": "#/components/schemas/effectAbstractPattern"
                    },
                    "nocolor": {
                      "type": "boolean",
                      "description": "Флаг, указывающий на пустую заливку (для слоев формы):\n* true: используется пустая заливка;\n* false: не используется\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
                      "deprecated": true
                    },
                    "default": {
                      "type": "boolean",
                      "description": "Если значение true, то заливка применяется ко всему слою, иначе, false, к растровому изображению\n\n-- Не используем;\n-- Для figma всегда возвращается \"true\""
                    },
                    "blendMode": {
                      "type": "string",
                      "description": "Режим наложения слоя заливки",
                      "enum": [
                        "BLEND_DIVIDE",
                        "BLEND_SUBTRACTION",
                        "COLOR",
                        "COLOR_BURN",
                        "COLOR_DODGE",
                        "DARKEN",
                        "DARKER_COLOR",
                        "DIFFERENCE",
                        "DISSOLVE",
                        "EXCLUSION",
                        "HARD_LIGHT",
                        "HARD_MIX",
                        "HUE",
                        "LIGHTEN",
                        "LIGHTER_COLOR",
                        "LIGHTEN_BURN",
                        "LIGHTEN_DODGE",
                        "LIGHTEN_LIGHT",
                        "LUMINOSITY",
                        "MULTIPLY",
                        "OVERLAY",
                        "PASS_THROUGH",
                        "PIN_LIGHT",
                        "SATURATION",
                        "SCREEN",
                        "SOFT_LIGHT",
                        "VIVID_LIGHT",
                        "NORMAL"
                      ]
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              },
              "shadows": {
                "type": "array",
                "description": "Дескриптор эффекта теней",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ИД слоя тени"
                    },
                    "x": {
                      "type": "number",
                      "description": "Горизонтальное положение тени"
                    },
                    "y": {
                      "type": "number",
                      "description": "Вертикальное положение тени"
                    },
                    "blur": {
                      "type": "number",
                      "description": "Размытие тени"
                    },
                    "choke": {
                      "type": "number",
                      "description": "Величина размытия контура тени"
                    },
                    "color": {
                      "$ref": "#/components/schemas/color"
                    },
                    "contour": {
                      "type": "array",
                      "description": "Описание функций контуров тени\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
                      "deprecated": true,
                      "items": {
                        "type": "object",
                        "properties": {
                          "floor": {
                            "type": "number",
                            "format": "float",
                            "description": "Нижний предел сегмента функции контура"
                          },
                          "ceil": {
                            "type": "number",
                            "format": "float",
                            "description": "Верхний предел сегмента функции контура"
                          },
                          "points": {
                            "type": "object",
                            "description": "Массив точек сегмента функции контура",
                            "properties": {
                              "x": {
                                "type": "number"
                              },
                              "y": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "required": [
                          "floor",
                          "ceil",
                          "points"
                        ]
                      }
                    },
                    "inset": {
                      "type": "boolean",
                      "description": "Флаг, указывающий отбрасывается ли тень на внутреннюю часть формы:\n* true: отбрасывается (в figma выбрана тень с типом \"inner shadow\");\n* false: не отбрасывается (в figma выбрана тень с типом \"drop shadow\")"
                    },
                    "glow": {
                      "type": "boolean",
                      "description": "Флаг, указывающий, что эффект является \"свечением\" вместо тени:\n* true: свечение;\n* false: тень\n\n-- Не используем;\n-- Для figma всегда приходит \"false\""
                    },
                    "blendMode": {
                      "type": "string",
                      "description": "Режим наложения тени",
                      "enum": [
                        "BLEND_DIVIDE",
                        "BLEND_SUBTRACTION",
                        "COLOR",
                        "COLOR_BURN",
                        "COLOR_DODGE",
                        "DARKEN",
                        "DARKER_COLOR",
                        "DIFFERENCE",
                        "DISSOLVE",
                        "EXCLUSION",
                        "HARD_LIGHT",
                        "HARD_MIX",
                        "HUE",
                        "LIGHTEN",
                        "LIGHTER_COLOR",
                        "LIGHTEN_BURN",
                        "LIGHTEN_DODGE",
                        "LIGHTEN_LIGHT",
                        "LUMINOSITY",
                        "MULTIPLY",
                        "OVERLAY",
                        "PASS_THROUGH",
                        "PIN_LIGHT",
                        "SATURATION",
                        "SCREEN",
                        "SOFT_LIGHT",
                        "VIVID_LIGHT",
                        "NORMAL"
                      ]
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              },
              "borders": {
                "type": "array",
                "description": "Дескриптор обводки",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ИД слоя обводки"
                    },
                    "width": {
                      "type": "number",
                      "format": "float",
                      "description": "Ширина обводки"
                    },
                    "color": {
                      "$ref": "#/components/schemas/color"
                    },
                    "style": {
                      "type": "string",
                      "enum": [
                        "solid",
                        "dotted",
                        "dashed"
                      ],
                      "default": "solid",
                      "description": "Стиль обводки. При пунктирном стиле обводки дополнительно возвращаются параметры dashedOffset и dashedSet\n\n-- Независимо от выбранного стиля в figma, всегда возвращается \"solid\""
                    },
                    "lineAlignment": {
                      "type": "string",
                      "enum": [
                        "outside",
                        "inside",
                        "center"
                      ],
                      "description": "Выравниевание обводки относительно контура формы"
                    },
                    "lineJoin": {
                      "type": "string",
                      "enum": [
                        "bevel",
                        "round",
                        "miter"
                      ],
                      "description": "Стиль соединения между сегментами обводки",
                      "default": "miter"
                    },
                    "lineCap": {
                      "type": "string",
                      "enum": [
                        "butt",
                        "round",
                        "square"
                      ],
                      "default": "butt",
                      "description": "Стиль конечных точек обводки"
                    },
                    "miterLimit": {
                      "type": "number",
                      "format": "float",
                      "description": "Предел угла, образованного между двумя сегментами обводки",
                      "deprecated": true
                    },
                    "dashOffset": {
                      "type": "number",
                      "deprecated": true,
                      "description": "Начальное смещение границы штриха (применяется к пунктирной обводке)\n\n-- Не используется; \n-- Приходит только для стиля обводки style: \"dash\", который не возвращает octopus на основе дизайн-файлов figma",
                      "format": "float"
                    },
                    "dashSet": {
                      "type": "array",
                      "deprecated": true,
                      "description": "Настройка чередования штрихов и пробелов (применяется для пунктироной обводки)\n\n-- Не используется; \n-- Приходит только для стиля обводки style: \"dash\", который не возвращает octopus на основе дизайн-файлов figma",
                      "items": {
                        "type": "number",
                        "format": "float"
                      }
                    },
                    "overprint": {
                      "type": "boolean",
                      "description": "Если внутренняя/центрированная обводка с прозрачностью делает видимым базовый экземпляр (true) или экземпляр обрезается обводкой (false).\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
                      "deprecated": true
                    },
                    "default": {
                      "type": "boolean",
                      "description": "Если значение true, то заливка применяется ко всему слою, иначе, false, к растровому изображению\n\n-- Не используем;\n-- Для figma всегда возвращается \"true\""
                    },
                    "blendMode": {
                      "type": "string",
                      "enum": [
                        "BLEND_DIVIDE",
                        "BLEND_SUBTRACTION",
                        "COLOR",
                        "COLOR_BURN",
                        "COLOR_DODGE",
                        "DARKEN",
                        "DARKER_COLOR",
                        "DIFFERENCE",
                        "DISSOLVE",
                        "EXCLUSION",
                        "HARD_LIGHT",
                        "HARD_MIX",
                        "HUE",
                        "LIGHTEN",
                        "LIGHTER_COLOR",
                        "LIGHTEN_BURN",
                        "LIGHTEN_DODGE",
                        "LIGHTEN_LIGHT",
                        "LUMINOSITY",
                        "MULTIPLY",
                        "OVERLAY",
                        "PASS_THROUGH",
                        "PIN_LIGHT",
                        "SATURATION",
                        "SCREEN",
                        "SOFT_LIGHT",
                        "VIVID_LIGHT",
                        "NORMAL"
                      ],
                      "description": "Режим наложения стиля обводки"
                    },
                    "pattern": {
                      "$ref": "#/components/schemas/effectAbstractPattern"
                    },
                    "gradient": {
                      "$ref": "#/components/schemas/effectAbstractGradient"
                    }
                  },
                  "required": [
                    "id",
                    "width"
                  ]
                }
              },
              "blurs": {
                "type": "array",
                "description": "Дескриптор эффекта размытия",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "ИД слоя размытия"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "GAUSSIAN",
                        "MOTION",
                        "ZOOM",
                        "BACKGROUND"
                      ],
                      "description": "Тип эффекта размытия\n\nДля документа из инструмента figma используются только: GAUSSIAN и BACKGROUND"
                    },
                    "radius": {
                      "type": "number",
                      "format": "float",
                      "description": "Радиус эффекта размытия"
                    },
                    "angle": {
                      "type": "number",
                      "format": "float",
                      "description": "Угол размытия при движении (в градусах)\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
                      "deprecated": true
                    },
                    "center": {
                      "type": "object",
                      "description": "Центр размытия масштабирования\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
                      "deprecated": true,
                      "properties": {
                        "x": {
                          "type": "number",
                          "format": "float"
                        },
                        "y": {
                          "type": "number",
                          "format": "float"
                        }
                      }
                    },
                    "brightness": {
                      "type": "number",
                      "format": "float",
                      "default": 100,
                      "description": "Уровень яркости размытия (в %)\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
                      "deprecated": true
                    },
                    "opacity": {
                      "type": "number",
                      "format": "float",
                      "default": 1,
                      "description": "Непрозрачность размытия. Описывает значение альфа-канала\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
                      "minimum": 0,
                      "maximum": 1,
                      "deprecated": true
                    }
                  },
                  "required": [
                    "id",
                    "type"
                  ]
                }
              }
            }
          }
        },
        "required": [
          "id"
        ]
      },
      "shape": {
        "title": "shape",
        "x-stoplight": {
          "id": "wad056xttdasi"
        },
        "type": "object",
        "description": "Дескриптор формы",
        "properties": {
          "paths": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean",
            "default": true,
            "description": "Если форма является векторной маской, то данный флаг указывает, включена маска или нет:\n* true - маска включена (по умолчанию);\n* false - выключена\n\n-- Не используется для слоев фигмы",
            "deprecated": true
          },
          "windingRule": {
            "type": "string",
            "enum": [
              "on-zero",
              "even-odd"
            ],
            "default": "even-odd",
            "description": "Правила взаимодействия контуров объектов, которые пересекаются:\n* non-zero: заливка по правилу ненулевого направления;\n* even-odd: заливка по правилу четности и нечетности\n\n-- Можно не использовать. Для фигмы всегда возвращается одно из доступных значений данного параметра: \"non-zero\"",
            "deprecated": true
          }
        },
        "required": [
          "paths"
        ]
      },
      "shapePath": {
        "title": "shapePath",
        "x-stoplight": {
          "id": "c2bn6x5k7w4p1"
        },
        "type": "array",
        "description": "Описение единого вектороного пути",
        "items": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "enum": [
                "rect",
                "ellipse",
                "path"
              ],
              "description": "Тип формы, которую представляет векторный путь. Если пустой, то форма неизвестна для octopus\n\n-- Можно не использовать. Для фигмы в данном параметре приходит одно из доступных значени: \"path\"",
              "deprecated": true
            },
            "booleanOperation": {
              "type": "string",
              "description": "Логичечкая операция, объединяющая текущий и следующий путь в массиве\n\n-- Можно не использовать. Для в данном параметре всегда возвращается значение: \"none\" (по умолчанию)",
              "enum": [
                "none",
                "exclusion",
                "intersection",
                "subtraction",
                "union"
              ],
              "default": "none",
              "deprecated": true
            },
            "subpaths": {
              "type": "string",
              "description": "Массив подпутей (контуров), из которых состоит основной путь"
            }
          },
          "required": [
            "subpaths"
          ]
        }
      },
      "shapeSubpath": {
        "title": "shapeSubpath",
        "x-stoplight": {
          "id": "pok4gdtm9bp3q"
        },
        "type": "object",
        "description": "Дескриптор одного контура",
        "properties": {
          "closed": {
            "type": "boolean",
            "description": "Флаг, указывающий открыт или закрыт путь:\n* true - путь закрыт;\n* false - путь закрыт\n\n-- Можно не использщовать. Для фигмы всегда возвращается: \"true\""
          },
          "points": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/shapePath"
            }
          }
        }
      },
      "effectAbstractGradient": {
        "title": "effectAbstractGradient",
        "x-stoplight": {
          "id": "11otoxmgvyhkj"
        },
        "type": "object",
        "description": "Дескриптор градиента",
        "properties": {
          "stops": {
            "type": "object",
            "description": "Массив стоп-точек градиента. Каждый элемент представляет собой объект, содержащий значения цвета и местоположения.",
            "required": [
              "color",
              "location"
            ],
            "properties": {
              "color": {
                "$ref": "#/components/schemas/color"
              },
              "location": {
                "type": "number",
                "format": "float",
                "description": "Местоположение (в %) стоп-точки"
              },
              "exp": {
                "type": "number",
                "format": "float",
                "default": 1,
                "description": "Показатель степени, который будет использоваться для интерполяции цвета между этой и следующей стоп-точкой. Каждое входное значение x должно возвращать n значений (по 1 для каждого цветового компонента), задаваемых y_j = C0_j + x^exp * (C1_j - C0_j), где 0 <= j < n, C0 - цвет, определенный на текущей остановке, а C1 - цвет, определенный на следующей остановке.\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
                "deprecated": true
              },
              "reverseExp": {
                "type": "boolean",
                "description": "Если true, то показатель степени нужно использовать для интерполяции цвета в противоположном направлении\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
                "deprecated": true
              }
            }
          },
          "type": {
            "type": "string",
            "enum": [
              "linear",
              "radial",
              "circular"
            ],
            "description": "Тип градиента.\n\n-- Не поддерживается тип градиента из figma: \"diamond\""
          },
          "invert": {
            "type": "boolean",
            "description": "Флаг, указывающий был ли инвертирован градиент:\n* true: инвертирован;\n* false: не инвертирован\n\n-- Не используем;\n-- Для figma всегда возвращается \"true\"",
            "deprecated": true
          },
          "offset": {
            "type": "object",
            "required": [
              "horizontal",
              "vertical"
            ],
            "description": "Смещение градиента к относительному значению\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
            "deprecated": true,
            "properties": {
              "horizontal": {
                "type": "number",
                "format": "float",
                "description": "Смещение по оси X"
              },
              "vertical": {
                "type": "number",
                "format": "float",
                "description": "Смещение по оси Y"
              }
            }
          },
          "scale": {
            "type": "number",
            "format": "float",
            "default": 1,
            "description": "Градиентная шкала"
          },
          "angle": {
            "type": "number",
            "format": "float",
            "description": "Угол наклона в градусах\n\n-- Не используем;\n-- Не возвращается для инструмента figma",
            "deprecated": true
          },
          "relativeTo": {
            "type": "string",
            "enum": [
              "layer",
              "document"
            ],
            "description": "Настройка конфигурации относительно слоя или документа\n\n-- Не используем;\n-- Для инструмента figma всегда приходит \"document\"",
            "deprecated": true
          },
          "ellipseLength": {
            "type": "number",
            "format": "float",
            "default": 1,
            "description": "Для градиентов в форме эллипса (\"radila\" и \"angular\" в figma), описывает отношение большой к малой полуоси эллипса"
          },
          "from": {
            "type": "array",
            "description": "Дескриптор первой точки направления градиента",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "to": {
            "type": "array",
            "description": "Дескриптор конечной точки направления градиента",
            "items": {
              "type": "number",
              "format": "float"
            }
          }
        },
        "required": [
          "stops",
          "type",
          "relativeTo"
        ]
      },
      "effectAbstractPattern": {
        "type": "object",
        "title": "effectAbstractPattern",
        "x-stoplight": {
          "id": "9pn0timlo6475"
        },
        "description": "Дескриптор паттерна",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      }
    },
    "parameters": {}
  }
}